
.autocomplete {
	background: white;
	z-index: 1000;
	font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.autocomplete * {
	font: inherit;
}

.autocomplete > div {
	padding: 0 4px;
}

.autocomplete .form-control {
	background: white;
}

.autocomplete-item {
	&:hover,
	> div.selected {
		background: $background-title;
		color: $background-lighter;
		cursor: pointer;
	}
}

