{% for type in pokemon.types %}
    <a href="{{ path('type_detail', {slug_type: type.slug }) }}">
        <img class="size-20" src="{{ type.img }}" alt="Type {{ type.name|lower }}"  title="{{ type.name|lower }}"/>
    </a>
{% endfor %}
