{% extends 'base.html.twig' %}

{% block title %}{{ 'move.title'|trans({'%move%': move.name}) }}{% endblock %}

{% block body %}
    <div class="container col-9">
        <h1 class="text-center mb-1 mt-3">{{ move.name }}</h1>
        <hr>
    </div>
{% endblock %}