

<table class="table table-striped profile-table">
    <tbody>
    {% for description in moveDescription %}
        <tr>
            <th>{{ description.versionGroup.name }}</th>
            <td>
                {{ description.description }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

