//
// Box shadows
// --------------------------------------------------

$box-shadow-sm: 0 1px 1px 0 rgba( $black, .14 ), 0 2px 1px -1px rgba( $black, .12 ), 0 1px 3px 0 rgba( $black, .2 );
$box-shadow: 0 4px 5px 0 rgba( $black, .14 ), 0 1px 10px 0 rgba( $black, .12 ), 0 2px 4px -1px rgba( $black, .2 );
$box-shadow-lg: 0 16px 24px 2px rgba( $black, .14 ), 0 6px 30px 5px rgba( $black, .12 ), 0 8px 10px -5px rgba( $black, .2 );
