
{% if pokemon.pokemonSpecies.pokemons|length > 1 %}
    <div class="row">
        <div class="col">
            <h2>{{ 'pokemon.evolution.other_form'|trans }}</h2>
            <div class="container pokedexPage-content">
                <div class="pkmnCard-container">
                {% for pokemonAlike in pokemon.pokemonSpecies.pokemons %}
                    {% if pokemonAlike.isDefault is not same as (true) %}
                        <div class="pkmnCard_evolution-container col-{{ 12 / (pokemon.pokemonSpecies.pokemons|length)  }}">
                             {% include 'Pokemon/Cards/pokemon_card.html.twig' with {'pokemon' : pokemonAlike} %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
