
<h2 class="bordered-title text-center">{{ 'pokemon.evolution.title'|trans }}</h2>
<hr>

<div>
    {% if pokemon.pokemonSpecies.evolutionChain|length == 0 %}
        <p>{{ 'pokemon.evolution.empty'|trans({'%pokemon%' : pokemon.name }) }}</p>
    {% endif %}
</div>