
.cell-barchart {
  width: 100%;
  min-width: 255px;
}

.panel {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.list-generation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  text-align: center;

  > li {
    padding: 0.1rem;
  }
  > ul {
    margin: 0 0 1rem 2rem;
  }

  &.title {
    font-weight: bold;
  }
}

.tab-content {
  overflow-x: auto;
  margin-bottom: 1rem;
}