
.increased-stats {
  color: $type-x025;
  font-weight: bold;
}

.decreased-stats {
  color: $type-x4;
  font-weight: bold;
}

.neutral-stats {
  color: $gray-900;
  font-weight: bold;
}

.nature-name {
  font-weight: bold;
}

