
.pokemon-sheet-edit-button {
  color: $blue;
  padding: 0;

  &:hover {
    color: lighten($blue, 30%);
  }
}

.pokemon-sheet-add-button {
  color: $green;
  padding: 0;

  &:hover {
    color: lighten($green, 30%);
  }
}

.pokemon-sheet-cancel-button {
  color: $red;
  padding: 0;

  &:hover {
    color: lighten($red, 30%);
  }
}

.field-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
