
.type-related- {
  &1 {
    background-color: $type-x1;
  }
  &2 {
    background-color: $type-x2;
  }
  &4 {
    background-color: $type-x4;
  }
  &05 {
    background-color: $type-x05;
  }
  &025 {
    background-color: $type-x025;
  }
}
