
.bold-link {
	font-size: 80%;
	font-weight: 500;
	line-height: 30px;

	&.fs-120 {
		font-size: 120%;
	}

	&.fs-100 {
		font-size: 100%;
	}
}

.container {
	padding: 2rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
