
$main-color: #d9e7ff;

.site-footer {
	background-color: $main-color;
	color: white;
	font-weight: 400;

	.main-footer {
		padding: 4rem 0;
	}

	a {
		color: white;
	}

	.footer-bottom {
		padding: .75rem;
		background-color: $main-color;
		color: black;

		a {
			color: #bfbfbf;
			font-weight: 600;
		}
	}
}
