
.table {
	td {
		padding: 0 !important;
		vertical-align: middle !important;
	}
}

.table-stats {
	border-collapse: collapse;
}

.small-col {
	min-width: 2.7em;
}

.col-moves-name {
	min-width: 9em;
}

.col-moves-type {
	min-width: 3em;
}

.col-moves-infos {
	min-width: 6em;
}

.moves-table {
	overflow-x: auto;
}

.table-condensed {
	display: table;
}
