/**************************** Global ****************************/

.barchart-bar {
	height: .75rem;
	border: 1px solid rgba( 0, 0, 0, .15 );
	border-radius: 4px;
	background-color: #ff5145;
}

.detailed {
	color: $font-special-color !important;
	font-size: 1em;
	font-weight: bold;
}

.light-detailed {
	color: $font-special-color !important;
	font-size: .8em;
	font-weight: bold;

	&-italic {
		color: #d95803;
		font-size: 1.1em;
		font-style: italic;
		font-weight: normal;
	}
}

.bordered-card {
	border-radius: .5em;
	//border: 0.1em solid $background-lighter;
	background-color: $background-light;
}

.profile-table th {
	min-width: 144px;
	color: $font-special-color;
	font-size: .875rem;
	font-weight: normal;
	text-align: right;
}

.hidden-talent {
	display: inline;
	padding: .2em;
	color: $font-special-color;
	font-size: 75%;
	font-style: italic;
	font-weight: 750;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
}

.bordered-title {
	margin: .25rem;
	padding: .6rem .3rem .6rem 1.2rem;
	border-radius: 15px;
	background-color: $background-title;
	color: $background-lighter;
}

.btn-primary {
	background-color: $background-title;
	color: $background-lighter;
}

/**************************** Footer ****************************/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: .1em;
	background-color: $background;
}
