
/**************************** Color variables ****************************/

$font-special-color: #737373;
$light-font-special-color: #c4c4c4;
$background : #d9e7ff;
$background-light : #ebf1ff;
$background-lighter : #f7faff;

/**************************** Classes ****************************/

/**************************** Body ****************************/

body {
  background-color: $background-lighter !important;
}

.container {
  background-color: $background !important;
}

/**************************** Global ****************************/

.barchart-bar {
  height: .75rem;
  border-radius: 4px;
  background-color: #ff5145;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.detailed {
  color: $font-special-color !important;
  font-size: 1em;
  font-weight: bold;
}

.light-detailed {
  color: $font-special-color !important;
  font-size: 0.8em;
  font-weight: bold;

  &-italic {
    font-style: italic;
    font-size: 1.2em !important;
    font-weight: normal;
  }
}

.bordered-card {
  border-radius: 0.5em;
  //border: 0.1em solid $background-lighter;
  background-color: $background-light;
}

.profile-table th {
  color: $font-special-color;
  font-size: .875rem;
  font-weight: normal;
  text-align: right;
  min-width: 144px;
}

.hidden-talent {
  font-style: italic;
  display: inline;
  font-size: 75%;
  font-weight: 750;
  line-height: 1;
  padding: 0.2em;
  white-space: nowrap;
  text-align: center;
  color: $font-special-color;
}

/**************************** Footer ****************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $background;
  margin-top: 0.1em;
}