{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-10">
        <h1 class="text-center mb-1 mt-3">{{ ability.name }}</h1>
        <hr>
        <div class="grid-row">
            <div class="grid-col ">
                <h2>{{ 'index.ability.description'|trans }}</h2>
                <p>{{ ability.description }}</p>
            </div>
            <div class="grid-col ">
                <h2>{{ 'index.ability.pokemons'|trans }}</h2>
                <div class="list-card-pkmn list-card-pkmn-lg">
                    {% for pokemonAbility in ability.pokemonsAbility %}
                        {% if pokemonAbility.pokemon.pokemonSprites.spriteFrontDefault is not null %}
                            {% include'Pokemon/pokemon_card.html.twig' with {'pokemon' : pokemonAbility.pokemon} %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}