{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center bordered-title">{{ 'index.ability.list_all'|trans }}</h1>
        <hr>

    </div>

{% endblock %}
