<div class="app-footer">
	<small class="text-center d-block p-2">
		All content & design © Pokémon Database, 2008-{{ 'now' | date('Y') }}.<br>
        Pokémon images & names © 1995-{{ 'now' | date('Y') }} Nintendo/Game Freak
	</small>
</div>
