<div class="field-form pokemon-sheet-btn">
    <div id="pokemon-sheet-ability-html">
        {% include 'Pokemon/Pokemon_sheet/partials/_pokemon_sheet_ability.html.twig' with {ability: pokemonSheet.ability} %}
    </div>
    <div id="form-pokemon-sheet-ability" class="d-none">
        <select name="select-pokemon-sheet-ability" class="mt-1">
            {% for pkmnAbility in abilities %}
                <option value="{{ pkmnAbility.ability.id }}">
                    {{ pkmnAbility.ability.name }}
                    {% if pkmnAbility.hidden %}
                        - <span class="hidden-talent">{{ 'pokemon.hidden_talent'|trans }}</span>
                    {% endif %}
                </option>
            {% endfor %}
        </select>
        <p id="currentPokemonSheetId" hidden>{{ pokemonSheet.id }}</p>
        <button id="pokemon-sheet-add-button" title="Valider" class="ml-1 btn pokemon-sheet-add-button">
            <i class="fas fa-check-circle"></i>
        </button>
        <button id="pokemon-sheet-cancel-button" title="Annuler" class="btn pokemon-sheet-cancel-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <button id="pokemon-sheet-edit-button" class="ml-5 btn pokemon-sheet-edit-button" title="Modifier">
        <i class="fas fa-edit"></i>
    </button>
</div>
