<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('libs') }}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>

    <body class='app'>
        <header class='app-header'>
            {% include 'Common/nav.html.twig' %}
        </header>

        <div class="container-fluid p-2 app-mainContent">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            {{ include('Common/footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </body>

</html>
