{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-9">
        <h1 class="text-center mb-1 mt-3">{{ eggGroup.name }}</h1>
        <hr>
        <div class="grid-row">
            <div class="grid-col ">
                <h2>{{ 'index.egg_group.pokemons'|trans }}</h2>
                <div class="list-card-pkmn list-card-pkmn-lg">
                    {% for pokemonSpecies in eggGroup.pokemonSpecies %}
                        {% for pokemon in pokemonSpecies.pokemons %}
                            {% if pokemon.pokemonSprites.spriteFrontDefault is not null %}
                                {% include'Pokemon/pokemon_card.html.twig' with {'pokemon' : pokemon} %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}