{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center bordered-title">{{ eggGroup.name }}</h1>
        <hr>
        <div class="grid-row">
            <div class="grid-col ">
                <h2>{{ 'index.egg_group.pokemons'|trans }}</h2>
                <div class="container pokedexPage-content">
                    <div class="pkmnCard-container">
                        {% for pokemonSpecies in eggGroup.pokemonSpecies %}
                            {% for pokemon in pokemonSpecies.pokemons %}
                                {% if pokemon.pokemonSprites.spriteFrontDefault is not null %}
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                                        {% include'Pokemon/Cards/pokemon_card.html.twig' with {'pokemon' : pokemon, 'size': pokemonSpecies.pokemons|length } %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
